@import "tailwindcss";

:root {
    --color-body: #1A0B2E;
    --color-section: #230E3D;
    --color-card: #351165;
    --color-neon: #00FF88;
    --color-white: #FAFAFA;
}


body {
    background-color: var(--color-body);
    /* color: var(--color-white); */
    font-family: 'Inter', sans-serif;
}


.btn-primary {

    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    color: white;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
    padding: 5px;
    width: 201px;
    cursor: pointer;
}
.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(251, 9, 180, 0.4);
}
.btn-secondary {

    /* background: #00FF88; */
    color: #00FF88;
    border: 2px solid #00FF88;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
    padding: 5px;
    width: 147px;
    height: 44px;
    cursor: pointer;
}

.btn-secondary:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(1, 60, 28, 0.985);
    /* background-color: #00FF88; */
}



@keyframes wave-effect {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.wave-container span {
  display: inline-block;
  animation: wave-effect 1.5s infinite ease-in-out;
}

.wave-container span:nth-child(1) { animation-delay: 0.0s; }
.wave-container span:nth-child(2) { animation-delay: 0.1s; }
.wave-container span:nth-child(3) { animation-delay: 0.2s; }
.wave-container span:nth-child(4) { animation-delay: 0.3s; }